//paleta de colores//
 //background-image*//
$color-de-fondo: linear-gradient(to right, #d8d0d4, #c6c0c4, #b3b0b4, #a2a0a3, #919093, #828284, #747475, #666666, #565656, #464646, #373737, #282828);
//font-family//
$funete-de-h2:Verdana, Geneva, Tahoma, sans-serif;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #363434ed;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

header span{
    color: #000000e8;
}

dl, ol, ul {
    margin-top: 0px;
    display: flex;
    margin-bottom: 1rem;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff; 
}

.nav{
    font-size: 25px;
    padding-left: 20px;
    margin-top: 15px;
    
}

li{
    list-style: none;
}

.nav-link {
    color: #ffe8e8;
    list-style: none;
    display: inline;
    padding: 0.5rem 1rem;
}
.nav-link:hover{
    color: #000;
}

.quienes-somos{
    color: #ffe8e8;
}



.main-index{
    width: 100%;
    height: 100vh;
    background-color: #333333;
    background-image: url(img/principal.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navegacion li a{
    color: #ffff;
}

.navegacion{
    list-style: none;
}

h1{
    color: rgb(22, 21, 21);
    background-color: #cacacaa9;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    font-size: 60px;
    text-align: center;
    border-radius: 10px ;
    padding: 20px;
}

.call p{
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 20px;
}

.call a{
    background-color: rgba(14, 15, 14, 0.611);
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-shadow: 0 0 5px #000;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

h2{
    text-align: center;
    background-color: #000;
    color: rgb(255, 255, 255);
    padding: 15px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0px;
}


.nosotros{
    width: 100%;
    background-image:$color-de-fondo;
    display: flex;
    padding-left: 0px;
}
.nleft{
    width: 100%;
    background-image: url(img/nosotros.jpg);
    background-size: cover;
    background-position: center;
}
.nright{
    width: 100%;
    padding: 20px;
}
.nright h3{
    color: #fff;
    text-shadow: 0 0 5px #000,;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
}

.nright p{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-bottom: 30px;
}

.nright a{
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Oswald', sans-serif;
}
.nright a:hover{
    background-color: rgba(169, 169, 169, 0.433);
}

.galeria{
    width: 100%;
    min-height: 300px;
    background-image: linear-gradient(to right, #d8d0d4, #c6c0c4, #b3b0b4, #a2a0a3, #919093, #828284, #747475, #666666, #565656, #464646, #373737, #282828);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 200px);
    padding: 20px;
    grid-gap: 15px;
}

.item{
    border: 3px solid #333;
    background-size: cover;
    background-position: center;
    transition: all 0.9s;
}

.item:hover{
    transform: scale(1.09);
    transition: all 0.9s;
}

.item1{
    background-image: url(img/nike1.jpg);
}
.item2{
    background-image: url(img/airblack.jpg);
}

.item3{
    background-image: url(img/arimax.jpg);
}
.item4{
    background-image: url(img/nike2air.jpg);
}

.item5{
    background-image: url(img/nike3.jpg);
}
.item6{
    background-image: url(img/nike4.jpg);
}

.item7{
    background-image: url(img/nike5.jpg);
    /* grid-column: 1/2;
    grid-row: 3/4; */
}
.item8{
    background-image: url(img/zapas.jpg);
    /* grid-column: 3/5;
    grid-row: 3/4; */
}

footer{
    background-image: linear-gradient(to right, #d8d0d4, #c6c0c4, #b3b0b4, #a2a0a3, #919093, #828284, #747475, #666666, #565656, #464646, #373737, #282828);
    color: #fff;
    text-align: center;
    padding: 20px;
}
footer p{
    margin-bottom: 20px;
    font-size: 25px;
}

footer a{
    color: rgb(255, 255, 255);
    font-size: 30px;
    letter-spacing: 15px;
}


/* de aca para abajo contacto */
.main-contacto{
    background-image: url(./img/fondo\ de\ contacto.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    justify-content: center;
    display:flex ;
    align-items: center ;
}


form{
    color: #fff9f9f7;
    padding: 20px;
    width: 600px ;
    background-color: #333333b3;
    height: 500px;
    background-position: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

input{
    text-align: center;
}


.enviar{
    font-size: 20px;
    padding: 15px;
}

.enviar-input{
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
}

.contacto-h2{
    background-color: #333333b6;
    border-radius: 5px;
}

.primary-button {
    font-family: 'Ropa Sans', sans-serif;
       /* font-family: 'Valorant', sans-serif; */
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.05rem;
    border: 1px solid #0E1822;
    padding: 0.8rem 2.1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 531.28 200'%3E%3Cdefs%3E%3Cstyle%3E .shape %7B fill: %23FF4655 /* fill: %230E1822; */ %7D %3C/style%3E%3C/defs%3E%3Cg id='Layer_2' data-name='Layer 2'%3E%3Cg id='Layer_1-2' data-name='Layer 1'%3E%3Cpolygon class='shape' points='415.81 200 0 200 115.47 0 531.28 0 415.81 200' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: #0E1822;
    background-size: 200%;
    background-position: 200%;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
    transition-property: background-position, border, color;
    position: relative;
    z-index: 1;
}

.primary-button:hover {
    border: 1px solid #FF4655;
    color: white;
    background-position: 40%;
}

.primary-button:before {
    content: "";
    position: absolute;
    background-color: #0E1822;
    width: 0.2rem;
    height: 0.2rem;
    top: -1px;
    left: -1px;
    transition: background-color 0.15s ease-in-out;
}

.primary-button:hover:before {
    background-color: white;
}

.primary-button:hover:after {
    background-color: white;
}

.primary-button:after {
    content: "";
    position: absolute;
    background-color: #FF4655;
    width: 0.3rem;
    height: 0.3rem;
    bottom: -1px;
    right: -1px;
    transition: background-color 0.15s ease-in-out;
}

.button-borders {
    position: relative;
    width: fit-content;
    height: fit-content;
    margin-left: 220px;
}

.button-borders:before {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    top: -0.3em;
    border: 1px solid #0E1822;
    border-bottom: 0px;
       /* opacity: 0.3; */
}

.button-borders:after {
    content: "";
    position: absolute;
    width: calc(100% + 0.5em);
    height: 50%;
    left: -0.3em;
    bottom: -0.3em;
    border: 1px solid #0E1822;
    border-top: 0px;
       /* opacity: 0.3; */
    z-index: 0;
}

.shape {
    fill: #0E1822;
}

// aca esta la pagina de las zapatillas de hombres//

.body-zapas{
    background-image: $color-de-fondo;
}

.container-title{
    padding: 30px;
    margin-bottom: 50px;
    background-image: $color-de-fondo;
    color: white;
    font-size: 30px;
    text-align: center;
}

.img1{
    max-width: 100%;
    height: 100%;
    border: 5px solid black;
}

.img{
    width: 100%;
    height: 300px;
}

.main-zapatillas{
    display: flex;
    gap: 30px;
    margin: 40px;
}

.container-img{
    background-color: #f7f7f9;
flex: 1;
}
.container-info-producto{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.container-precio{
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    align-items: center;
}

.container-precio span{
    font-size: 24px;
}

.container-detalles-productos{
    padding: 30px 0;
}

.form.grup{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 15px;
}

.form.grup label{
    width: 100px;
    color: #222;
    font-weight: 700;
}

.form.grup select{
    width: 300px;
    border: none;
    padding: 12px 15px;
    background-color: #f7f7f7;
}

select {
    word-wrap: normal;
    background-color: rgba(171, 171, 171, 0.761);
    color: rgb(255, 255, 255);
}

.texto-descripcion p{
    color: white;
}

.container-aggregar-al-carro{
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
}

.container-quantity{
    position: relative;
}

.input-quantity{
    background-color: #f7f7f7;
    border: none;
    padding: 10px;
    width: 60px;
    height: 100%;
    font-weight: 500;
}

.container-aggregar-al-carrito{
    border: none;
    background-color: #252525;
    padding: 10px;
    color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 700;
    cursor: pointer;
}

.container-aggregar-al-carrito:hover{
    background-color: #6689ab;
}

.container-social{
    font-size: 25px;
}

.productos-relacionados h3{
    text-align: center;
    margin-bottom: 30px;
}

.card-lista-productos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    margin: 30px;
}

.card{
    cursor: pointer;
    transition: all 0.9s;
    border: 5px solid black;
}

.card:hover{
    transform: scale(1.09);
    transition: all 0.9s;
}

.card-img{
    background: transparent;
    margin-top: 15px;
}

.informacion-card{
    display: flex;
    justify-content: space-between;
}

.texto-de-producto h4{
    color: inherit;
    font-weight: inherit;
    font-size: 25px;
}

.texto-de-producto{
    color: #252525;
    font-weight: 300;
    line-height: 1.4;
    
}

//pagina de pantalones//

.img-pantalones{
    width: 100%;
    height: 500px;
}

@media only screen and (max-width:480px) {
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
    .nosotros{
        display: flex;
        
    }
    .nleft{
        width: 50%;
    }
    .nright{
        width: 50%;
    }
    .modelo{
        padding-top: 30px;
    }
    h1{
        font-size: 40px;
    }
    ul{
        display: flex;
        flex-direction: row ;
    }
    .carrusel div img{
        width:250px;
        height: 100vh;
    }
    .main-contacto{
        background-image: url(./img/fondo\ de\ contacto.jpg);
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        display: flex;
        align-items: center;
    }   
    form{
        width: 350px;
        height: 500px;
        margin-bottom: 0px;
    }
    
    .enviar-input{
        font-size: 20px;
        padding: 10px;
        text-align: center;
    }
    .button-borders {
        position: relative;
        width: fit-content;
        height: fit-content;
        margin-left: 100px;
    }
    .contacto-h2{
        background-color: #333333b6;
        border-radius: 5px;
        margin-top: 5px;
    }
    footer{
        background-image: linear-gradient(to right, #d8d0d4, #c6c0c4, #b3b0b4, #a2a0a3, #919093, #828284, #747475, #666666, #565656, #464646, #373737, #282828);
        color: #fff;
        text-align: center;
        padding: 20px;
        
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .galeria{
        grid-template-columns: repeat(3, 1fr);
    }
    .item1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .item2{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .item3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .item4{
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .item5{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .item6{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .item7{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .item8{
        grid-column: 2/4;
        grid-row: 4/5;
    }
    
    .carrusel div img{
        width:400px;
        height: 550px;
    }
    form{
        margin-bottom: 0px;
    }
}

@media only screen and (min-width:1024px) {
    .galeria{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px 200px;
    }
    .carrusel div img{
        width:600px;
        height: 600px;
    }
    form{
        margin-bottom: 0px;
    }
    .contacto-h2{
        margin-top: 0px ;
    }
    .main-contacto {
        display: flex;
        justify-content: center;
    }
}

